/* put your styles here */

body {
  padding-top: 40px;
  padding-bottom: 500px;
}

#a {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#a li {
  float: left;
  text-align: center;
  width: 25%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#a li a {
  display: block;
  line-height: 40px;
  color: #333;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  border-top-left-radius: 20px;
  -moz-border-top-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -moz-border-bottom-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  background-image: linear-gradient(bottom, rgb(215,215,215) 28%, rgb(238,238,238) 64%);
  background-image: -o-linear-gradient(bottom, rgb(215,215,215) 28%, rgb(238,238,238) 64%);
  background-image: -moz-linear-gradient(bottom, rgb(215,215,215) 28%, rgb(238,238,238) 64%);
  background-image: -webkit-linear-gradient(bottom, rgb(215,215,215) 28%, rgb(238,238,238) 64%);
  background-image: -ms-linear-gradient(bottom, rgb(215,215,215) 28%, rgb(238,238,238) 64%);
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.28, rgb(215,215,215)), color-stop(0.64, rgb(238,238,238)));
  border: #ccc 5px solid;
}

#a li a:after {
  content: "\0000a0\25B8";
  color: #bbb;
  text-shadow: 0 0 0;
}
