/* put your styles here */
ul {
	list-style: none;
	padding: 0;
}

ul:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}

*:first-child+html ul { zoom: 1; } /* IE7 */

li {
	/* 
		These styles are set up so that older browsers will still render the 
		content - albeit without much of the nice look - To get border radius and 
		background gradients to work in older IE requires background images or 
		scary-looking ie-specific css selectors
	*/
	float: left;
	line-height: 36px;
	/* Gradient is currently only going to work in webkit browsers - Will require additional styles to get it to work elsewhere */
	background: -webkit-linear-gradient(top, #eee, #cdcdcd);
	font-weight: bold;
	padding: 0 50px;
	/* Lots of older browsers require corner specific border radius to be defined using browser specific flags, will need that here */
	border-top-left-radius: 16px;
	border-bottom-right-radius: 16px;
	border: 4px solid #eee;
}

li a {
	color: black;
	text-decoration: none;
	text-shadow: 1px 1px 1px white;
}
/* The :after pseudo-element doesn't play too nice with older versions of IE, would recommend adding as a part of the HTML instead */
li:after {
	color: #999;
	padding-left: 4px;
	content: "▸";
}