/* put your styles here */
ul {
    list-style-type:none;
    margin:0;
    padding:0; }
li {
    float:left; }
a {
    display:block;
    width:156px;
    height:37px;
    text-align: center;
    line-height: 37px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px white;
    font-weight: 600;
    background-color: rgb(204,204,204);
    border-radius: 15px 0px 15px 0px;
    -moz-border-radius: 15px 0px 15px 0px; }